a {
  text-decoration: none;
  color: white;
}

.header {
  height: 70px;
  width: 1020px;
  background-color: #13b1c0;
    &__bar__id {
      color: white;
      font-size: 30px;
      padding-top: 15px;
    }
  }