.header__item {
  text-decoration: none;
  color: white;
}


.header {
  height: 80px;
  max-width: 100%;
  background-color: #13b1c0;
  display: flex;
    &__bar__id {
      color: white;
      font-size: 30px;
      padding-top: 15px;
      padding-left: 70px;
    }
  }
// ログイン ログアウト 
.group__log {
  width: 200px;
  height: 66px;
  margin-top: 7px;
  margin-left: 900px;
  padding-top: 18px;
  &__post {
    color: white;
    text-decoration: none;
  }
  &__new {
    color: white;
    padding-left: 10px;
    text-decoration: none;
  }
  &__out {
    color: white;
    font-size: 16px;
    padding-left: 10;
    text-decoration: none;
  }
}
.user_name {
  color: white;
  float: left;
  margin-right: 20px;
}

#menu-btn-check {
  display: none;
}



@media screen and (max-width: 480px){
  // header 隠す
  .group__log__new {
    display: none;
  }
  .group__log__post {
    display: none;
  }
  // header ログインと新規登録
  .new_registration_id {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline;
  }
  .new_log_id {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline;
  }
  .list_name_1 {
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
  }
  .list_name_2 {
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
  }

  // ハンバーガーメニュー
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #13b1c0;
    position: absolute;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }

  // チェックボックスを隠す
  #menu-btn-check {
    display: none;
  }
  .user__name {
    color: #ffff;
    font-size: 23px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #13b1c0;
  }
  .menu-content ul {
    padding: 0px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color:  #13b1c0;
    transition: all 0.5s;/*アニメーション設定*/
  }

  #menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
  }
}

// iPadサイズ
@media screen and (min-width:768px) and ( max-width:1024px) {
  // ハンバーガーメニューPCの大ささ
  .menu-content {
      display: none;
  }
}

// PCサイズ
@media screen and (min-width:1024px){
  .menu-content {
    display: none;
  }
}