<div class="content_wrapper">
  <div class="left__menu">
  </div>
  <div class="main__menu">
    <h1 class="main__menu__about">一日のカロリーをシンプルに計算して記録をつけます</h1>
  </div>

  <div class="main__deta">
  </div>

  

</div>
