<div class="content_wrapper">
  <div class="left__menu">
  </div>
  <div class="main__menu">
    <h1 class="main__menu__about">一日のカロリーをシンプルに計算して記録をつけます</h1>
    <%= link_to '本日のカロリーを入れましょう', new_calory_path %>
  </div>
  <div class="main__deta">
    
  </div>
  

</div>
