.main {
  background-color: #f3f9fb;
  padding-top: 80px;
  width: 100%;
  height: 750px;
}

.main_2 {
  background-color: white;
  width: 660px;
  height: 540px;
  margin: 0 auto;
  text-align: center;
  padding: 80px;
}