.new_id {
  font-size: 28px;
  color: #13b1c0;
  padding-bottom: 10px;
  font-family: "Arial", "メイリオ";
}

.new_pass_id {
  font-size: 14px;
  color: #13b1c0;
  padding-bottom: 10px;
  font-family: "Arial", "メイリオ";
}