.show__my {
  width: 100%;
  height: 1400px;
  background-color: #f3f9fb;
  padding-top: 50px;
  &__page{
    width: min(800px, 99vw);
    height: 1200px;
    background-color: #FFF;
    margin: auto;
    border: 1px solid #ddd;
    padding-top:7px;
    overflow: scroll;
  }
}

//コンテンツの中身
.show__user {
  height: 300px;
  width: min(800px, 99vw);
  display: flex;
}

.user__box p {
  display: inline-block;
}
.user__box {
  margin: auto;
  text-align: center;
  padding-top: 10px;
  &__content {
    width: min(500px, 98vw);
    height:200px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align:left;
  }
}
.user__box2 {
  margin-right: 40px;
  margin-top: 40px;
}
.show_list__link {
  color: #0000FF;
}
.show_list__link:hover {
  text-decoration: none;
}

@media screen and (max-width: 480px){
  .user__box {
    width: 300px;
    text-align: left;
    .user__box__id {
      font-size: 14px;
      padding-left: 5px;
    }
  }
  .main__menu__about__text__time {
    padding-top: 10px;
    padding-left: 5px;
  }
  .user__box2 {
    margin: 0;
    height: 50px;
    width: 100px;
  }
  .show_list {
    width: 56px;
    height: 44px;
    margin: 0;
  }
  .show_list li {
    font-size: 14px;
    padding-left: 19px;
    padding-bottom: 1px;
  }
}