.show__my {
  width: 100%;
  height: 1400px;
  background-color: #f3f9fb;
  padding-top: 50px;
  &__page{
    width: 800px;
    height: 1200px;
    background-color: #FFF;
    margin: auto;
    border: 1px solid #ddd;
    padding-top:7px;
  }
}

//コンテンツの中身
.user__box p {
  display: inline-block;
}
.user__box {
  padding-top: 10px;
  margin-right: auto;
  text-align: center;
  &__content {
    width:500px; 
    height:200px;
    border: 1px solid #ddd;
    padding: 5px;
    margin: auto;
    text-align:left;
  }
}



